<main>
<h1> ${title} </h1>

<form action="/users/signup" method="POST">

<div class="field">
    <div class="control">
        <label class="label">Name
            <input class="input" name="name" type="text" placeholder="Enter yout name" />
        </label>
    </div>
</div>

<div class="field">
    <div class="control">
        <label class="label">Email
            <input class="input" name="email" type="email" placeholder="you@site.com" />
        </label>
    </div>
</div>
<div class="field">
    <div class="control">
        <label class="label">Password
            <input class="input" name="password" type="password" placeholder="Your Password" />
        </label>
    </div>
</div>
<button class="button is-primary" type="submit">Register</button>

</form>






</main> 