<main>
<h1 class="text-center"> ${title} </h1>
<div class="text-center">
    <form action="/users/signup" method="POST">
        <div class="mb-3">
            <div class="control">
                <label class="label">Name
                    <input class="form-control" name="name" type="text" placeholder="Enter your name" />
                </label>
            </div>
        </div>
        <div class="mb-3">
            <div class="control">
                <label class="label">Email
                    <input class="form-control" name="email" type="email" placeholder="Enter your email" />
                </label>
            </div>
        </div>
        <div class="mb-3">
            <div class="control">
                <label class="label">Password
                    <input class="form-control" name="password" type="password" placeholder="Enter your Password" />
                </label>
            </div>
        </div>
        <button class="btn btn-primary" type="submit">Register</button>
    </form>
</div>






</main> 