<main>
 <h1 class="text-center">${title}</h1>   
<div class="text-center"> 
    <form action="/users/login/" method="POST" class="form clearfix">
        <div class="mb-3">
            <div class="control">
                <label class="form-label">Email
                    <input class="form-control" name="email" type="email" placeholder="Enter your email" />
                </label>
            </div>
        </div>
        <div class="mb-3">
            <div class="control">
                <label class="form-label">Password
                    <input class="form-control" name="password" type="password" placeholder="Enter your password" />
                </label>
            </div>
        </div>
        <button class="btn btn-primary" type="submit">Login</button>
    </form>
</div>  

</main>